# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Generated code (if you don’t want to commit it)
src/grpc/generated/
coverage

# Logs
*.log

# Env files
.env

# OS/IDE files
.DS_Store
.vscode/
.idea/
.metals/

# sbt specific
target/
.bsp
.scala-build